<div class="mt-6 pb-4" style="background-color: white">
    <div id="titbit" class="container">
        <div class="row mb-3" data-aos="zoom-in" data-aos-duration="2000">
            <div class="col text-center">
                <span class="bg-primary text-white p-2  rounded">TitBit</span>
                <div>
                    <h1 class="text-blazing mt-3 mb-3">What we do for a living</h1>
                    <hr class="shrd" />
                </div>
            </div>
        </div>
        <div class="row" data-aos="flip-down" data-aos-duration="2000">
            <div class="col bg-pannel m-3 hov">
                <div class="p-5">
                    <h2>Join us on Chatter​ !!!</h2>
                    ​​​​This is the website for the Software CCN team to collaborate, share information, events, tasks and discuss.
                    Below are the things this CCN is involved in.
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel hov p-5">
                    <h2>Process</h2>
                    <ul>
                        <li>Development guideline</li>
                        <li>Quality guideline</li>
                        <li>Best in class documents</li>
                        <li>Standards</li>
                    </ul>
                    <p> <b>To dig into process. . .</b></p>
                    <span class="text-uppercase fs-small">Contact: <a target="_blank" href="mailto:tirumaleshwar.rao@alstomgroup.com">RAO Tirumaleshwar</a></span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-right" data-aos-duration="2000">
                <div class="bg-pannel hov p-5">
                    <h2 class="text-oneline">Technologies - &#8544;</h2>
                    <ul>
                        <li>Code reuse                  </li>
                        <li>Protocols                   </li>
                        <li>Middleware                  </li>
                        <li>Cyber-security              </li>
                        <li>Segregation/Independence  </li>
                        <li>Multi-core                  </li>
                        <li>Software safety
                    </ul>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel hov p-5">
                    <h2>Technologies - &#8544;&#8544;</h2>
                    <ul>
                        <li>Software obsolescence                 </li>
                        <li class="text-oneline">Component-based software engineering  </li>
                        <li>Internet of Things                    </li>
                        <li>Big Data                              </li>
                        <li>Lasting design                        </li>
                        <li>Virtualization                        </li>
                        <li>Benchmarking                          </li>
                    </ul>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
        </div>
        <div class="row" data-aos="flip-right" data-aos-duration="2000">
            <div class="col bg-pannel m-3 hov">
                <div class="p-5">
                    <h2>Methods</h2>
                    <div class="row">
                        <div class="col">
                            Methodologies
                            <ul>
                                <li>Agile/Lean development</li>
                                <li>Multi-site development</li>
                            </ul>
                            Formal methods
                            <ul>
                                <li>B</li>
                                <li>Scade</li>
                                <li>Frama-C</li>
                                <li>SparkPro</li>
                            </ul>
                        </div>
                        <div class="col">
                            Model-based engineering
                            <ul>
                                <li>UML</li>
                                <li>SysML</li>
                                <li>SDL</li>
                                <li>AADL</li>
                                <li>AADL</li>
                                <li>Simulink</li>
                            </ul>
                            Requirements-based engineering
                            <ul>
                                <li>&spades;</li>
                                <li>&spades; &spades;</li>
                                <li>&spades; &spades; &spades;</li>
                            </ul>
                        </div>
                    </div>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:mohamed.mazouni@alstomgroup.com">Dr.Mazuni</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
        </div>
        <div class="row" data-aos="flip-up" data-aos-duration="2000">
            <div class="col position-relative bg-pannel m-3 hov">
                <div class="p-5">
                    <h2>Tools</h2>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li class="text-oneline">Application Lifecycle Management</li>
                                <li class="text-oneline">Technical baselines management</li>
                                <li>Best in class documents</li>
                                <li>Standards</li>
                            </ul>
                        </div>
                        <div class="col">
                            Change management
                            <ul>
                                <li>ClearQuest</li>
                                <li>Redmine</li>
                                <li>JIRA</li>
                            </ul>
                        </div>
                        <div class="col">
                            Code review
                            <ul>
                                <li>Collaborator</li>
                                <li>Review Board</li>
                            </ul>
                        </div>
                        <div class="col">
                            Documentation generation
                            <ul>
                                <li>Doxygen</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Continuous integration/delivery
                            <ul>
                                <li>Jenkins</li>
                            </ul>
                            Reporting
                            <ul>
                                <li>SQuORE</li>
                            </ul>
                        </div>
                        <div class="col">
                            Coding rules verification
                            <ul>
                                <li>QA-C</li>
                                <li>QA-C++</li>
                                <li>PC-lint</li>
                                <li>AdaControl</li>
                                <li>Raincode Checker</li>
                            </ul>
                        </div>
                        <div class="col">
                            Static analysis
                            <ul>
                                <li>PolySpace  </li>
                                <li>Klocwork   </li>
                            </ul>
                            Testing
                            <ul>
                                <li>RTRT       </li>
                                <li>VectorCast </li>
                            </ul>
                        </div>
                        <div class="col">
                            <p>Code generation</p>
                            Code indexation
                            <ul>
                                <li>OpenGrok</li>
                                <li>LXR</li>
                            </ul>
                        </div>
                    </div>
                    <p> <b>To dig into process. . .</b></p>
                    <span class="text-uppercase fs-small">Contact: <a target="_blank" href="mailto:tirumaleshwar.rao@alstomgroup.com">RAO Tirumaleshwar</a></span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="mt-6 pb-4">
    <div id="meter" class="container">
        <div class="row mb-3" data-aos="zoom-in" data-aos-duration="2000">
            <div class="col text-center">
                <span class="bg-primary text-white p-2  rounded">Software Métier</span>
                <div>
                    <h1 class="text-white mt-3 mb-3">Food For Thought</h1>
                    <hr class="shrd" />
                </div>
            </div>
        </div>
        <div class="row" data-aos="flip-down" data-aos-duration="2000">
            <div class="col bg-pannel bg-pannel-outline m-3 hov">
                <div class="p-5">
                    <h2>Join us on Chatter​ !!!</h2>
                    You can discuss all subjects developed here (and more) on the Software group on Chatter.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex" data-aos1="flip-left" data-aos-duration1="2000">
                <div class="bg-pannel bg-pannel-outline p-5 hov">
                    <h4>Technological topics</h4>
                    <ul>
                        <li>Multicore architectures</li>
                        <li>Virtualization</li>
                        <li>Contenerization</li>
                        <li>Functional programming</li>
                        <li>OPC Unified Architecture</li>
                    </ul>
                    <p> <b>To dig into process. . .</b></p>
                    <span class="text-uppercase fs-small">Contact: <a target="_blank" href="mailto:tirumaleshwar.rao@alstomgroup.com">Tiru</a></span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-right" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <h5>Methodological topics</h5>
                    <ul>
                        <li>Benchmarking</li>
                        <li>CPU Qualification</li>
                        <li>Code peer review</li>
                        <li>Abstract Syntax Notation One</li>
                        <li>Continuous delivery</li>
                    </ul>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <h2>Innovations</h2>
                    <ul>
                        <li class="text-oneline"><a target="_blank" href="https://alstomgroup.sharepoint.com/sites/TrAT-TISSoftwareDiscipline_Community/Metier/SitePages/Design%20for%20Digital%20Validation.aspx">Design for Digital Validation</a> </li>
                        <li>A.S.S.I.S.T</li>
                        <li>Mini-ATS</li>
                        <li>OO<sub>ja</sub>H</li>
                    </ul>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-6 pb-4" style="background-color: white">
    <div id="Blood" class="container">
        <div class="row mb-3" data-aos="zoom-in" data-aos-duration="2000">
            <div class="col text-center">
                <span class="bg-primary text-white p-2  rounded">Our Blood</span>
                <div>
                    <h1 class="text-blazing mt-3 mb-3">Languages, Methods an​d Tools</h1>
                    <hr class="shrd" />
                </div>
            </div>
        </div>
        <div class="row" data-aos="flip-down" data-aos-duration="2000">
            <div class="col bg-pannel m-3 hov">
                <div class="p-5">
                    <h2>Join us on Chatter​ !!!</h2>
                    As the driving force of the Software CCN we live, eat, breath drink software.
                    Learn from us the latest trends in programming languages, bleeding edge technologies, there are masters within your reach to help you
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <h2>Coding</h2>
                    <ul>
                        <li>Alternative programming languages</li>
                        <li>Rust language</li>
                        <li>Functional programming</li>
                        <li>C#</li>
                        <li>KOTLIN</li>
                        <li>Java</li>
                        <li>JAVA Script</li>
                    </ul>
                    <p> <b>To dig into process. . .</b></p>
                    <span class="text-uppercase fs-small">Contact: <a target="_blank" href="mailto:tirumaleshwar.rao@alstomgroup.com">RAO Tirumaleshwar</a></span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-right" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <h2>Modeling</h2>
                    <ul>
                        <li>Scade software modeling</li>
                        <li>Matlab/Simulink software modeling</li>
                        <li>CSS application modeling (workspace)</li>
                        <li>Migrating legacy software in Dezyne</li>
                        <li>Continuous delivery</li>
                    </ul>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
            <div class="col d-flex" ng- data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <div class="row">
                        <h2>Proving</h2>
                        <div class="col">
                            <ul>
                                <li>Formal verification of RBC</li>
                                <li>Proving properties on software</li>
                            </ul>
                        </div>
                        <h2>OS</h2>
                        <div class="col">
                            <ul>
                                <li>Zephyr OS</li>
                                <li>Linux</li>
                            </ul>
                        </div>
                    </div>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="position-relative bg-pannel bg-pannel-outline hov p-5">
                    <h4 class="text-oneline">Best practices</h4>
                    <ul>
                        <li>Strategy for portability and virtual test bench</li>
                        <li>Performance measurement and improvement​</li>
                    </ul>
                    <p> <b>To dig into process. . .</b></p>
                    <span class="text-uppercase fs-small">Contact: <a target="_blank" href="mailto:tirumaleshwar.rao@alstomgroup.com">Tiru</a></span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-right" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <h2>Data</h2>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li class="text-oneline fs-small">Standard solutions for data serialization</li>
                            </ul>
                        </div>
                        <h2>Tools</h2>
                        <div class="col">
                            <ul>
                                <li class="text-oneline">Toolchain qualification strategy</li>
                                <li>Astrée static analyzer</li>
                                <li>VectorCAST test tool</li>
                                <li>Rapita verification suite</li>
                            </ul>
                        </div>
                    </div>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
            <div class="col d-flex" data-aos="flip-left" data-aos-duration="2000">
                <div class="bg-pannel bg-pannel-outline hov p-5">
                    <div class="row">
                        <h2>CPU</h2>
                        <div class="col">
                            <ul>
                                <li>RISC-V</li>
                            </ul>
                        </div>
                        <h2>References</h2>
                        <div class="col">
                            <ul>
                                <li>Scada</li>
                                <li class="text-oneline">extended Berkeley Packet Filter</li>
                            </ul>
                        </div>
                    </div>
                    <p> <b>To Learn more . . .</b></p>
                    <span class="text-uppercase fs-small">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a> & <a target="_blank" href="mailto:olivier.rolland@alstomgroup.com">Dr.ROLLAND </a> </span>
                </div>
            </div>
        </div>
    </div>
</div>