<div id="upload" class="container mt-6" data-aos="zoom-in" style="position:relative;">
    <div class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col text-center">
            <span class="bg-semi-dark p-2 text-danger rounded">Submission</span>
            <div>
                <h1 class="text-caption-color mt-3 mb-3">Download and Upload</h1>
                <hr class="shr" />
            </div>
        </div>
    </div>
    <img src="~/wwwroot/img/softwar/Romans.jpg" style="position:absolute; height:650px;width:100%;opacity:.5" />
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s" style="opacity: .9;  ">
                <div class="h-100 d-flex flex-column justify-content-center p-5">
                    <div>
                        <p class="d-inline bg-dark text-primary py-1 px-4 me-auto float-start glow">
                            <a href="~/wwwroot/template/SOFTWAR '2022 TEMPLATE Title of the submission.pptx">Download </a>
                        </p>
                        <span class="glow" style="margin-left:30%;">Last Date July 31<sup>st</sup> 2022</span>
                        <p class="d-inline bg-dark text-primary py-1 px-4 me-auto float-end glow">
                            <a href="mailto:rachel.royan@alstomgroup.com?subject=TEK Bytes-SoftWar-Submission&body=Hi Rachel,%0A     I am attaching my submission. %0AThanks & Regards ">
                                Upload
                            </a>
                        </p>
                    </div>
                    <div>
                        <h1 class="text-uppercase mb-4 d-inline">Submission</h1>
                        <span class="arms glow">&#9876; &#10048; &#9874; &#10048; &#9882; &#10048; &#10025; &#10048; &#9877; &#10048; &#9884;</span>

                    </div>
                    <div class="row g-0 bg-dark">
                        <div class="col-lg-4">
                            <div class="float-lg-start">
                                <img class="" style="height:400px;" title="download" src="~/wwwroot/img/softwar/Download.png" alt="Samurai Woman Download" />
                                <a href="~/wwwroot/template/SOFTWAR '2022 TEMPLATE Title of the submission.pptx">
                                    <i class="bi bi-download text-primary d-block glow" title="download" style="font-size:30px; margin-top:-30px;opacity:.6"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img class="" style="height:400px;opacity:.4" title="download" src="~/wwwroot/img/softwar/scare.png" alt="Samurai Woman Download" />
                            <a href="~/wwwroot/template/WCE.xlsx">
                                <!--<span class="text-primary d-block glow" title="download" style="font-size:30px; margin-top:-30px;opacity:.6">WCE</span>-->
                                <i class="bi bi-star text-primary d-block glow" title="download WCE list" style="font-size:30px; margin-top:-30px;opacity:.6"></i>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-lg-end">
                                <img class="" style="height:400px" title="upload" src="~/wwwroot/img/softwar/Upload.png" alt="Samurai Woman Stands" />
                                <a href="mailto:rachel.royan@alstomgroup.com?subject=TEK Bytes-SoftWar-Submission&body=Hi Rachel,%0A     I am attaching my submission. %0AThanks & Regards ">
                                    <i class="bi bi-upload text-primary d-block glow" title="upload" style="font-size: 30px; margin-top: -30px; opacity: .6"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


