<!-----Start banner------>
<div style="background-color: rgba(30, 50, 70, .2)">
    <div id="banner" data-aos="zoom-in" data-aos-duration="3000">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img car_img src="~/wwwroot/img/AGC_Autorail_Grande_Capacite_2985.jpg" class="d-block w-100 opacity-50" style="" alt="...">
                    <div class="carousel-caption">
                        <div class="container">
                            <h1 id="b_t_1" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="3000" class="display-4 text-uppercase animated slideInDown text-white" style="font-weight:bolder;">
                                Sanjana is a Good Girl
                            </h1>
                            <div id="b_st_1" class="display-4 mb-4 text-white" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                                Enriching mobility with technology
                            </div>
                            <h4 class="text-white text-uppercase  animated slideInDown" data-aos-delay="2000" data-aos="flip-left" data-aos-duration="3000">
                                <i class="bi bi-globe text-white me-2 display-8"></i> Bangalore - India
                            </h4>
                            <h4 class="text-white animated slideInDown" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                                <a href="mailto:sesha.sai@alstomgroup.com?subject=TEK-BYTES&cc=naveen-kumar.rajashekar@alstomgroup.com&body=Hi Sesha,%0AI would like to say a few words about your Tech magazine%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">
                                    <i class="bi bi-mailbox text-white me-2 display-8"></i>
                                    <font class="text-white">vnvoverflowadmin@alstomgroup.com</font>
                                </a>
                            </h4>
                            <!--<h5 class="text-decoration-underline text-white" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="3000">
                                <i class="bi bi-hammer me-2 text-white"></i>
                                Scroll down & check out the following sections . . .
                            </h5>
                            <div class="mt-3 mb-3" special data-aos="zoom-in" data-aos-duration="3000"></div>-->
                            <div short_cuts data-aos="flip-right" data-aos-delay="2000" data-aos-duration="3000" s><h1>Your Short cuts</h1></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img car_img src="~/wwwroot/img/Mastria_City_multimodal_orchestrator_159564.jpg" class="d-block w-100 opacity-50" style="" alt="...">
                    <div class=" carousel-caption">
                        <div class="container">
                            <h1 id="b_t_2" data-aos="flip-left" data-aos-duration="3000" class="display-4 text-uppercase  animated slideInDown text-white" style="font-weight:bolder;">
                                ROhan is a good boy
                            </h1>
                            <div id="b_st_2" class="display-4 mb-4 text-white" data-aos="flip-right" data-aos-duration="3000">
                                Enriching mobility with technology
                            </div>
                            <h4 class="text-white text-uppercase animated slideInDown " data-aos="flip-left" data-aos-duration="3000">
                                <i class="bi bi-globe text-white me-2 display-8"></i>Bangalore - India
                            </h4>
                            <h4 class="text-white  mb-4 animated slideInDown" data-aos="flip-right" data-aos-duration="3000">
                                <a href="mailto:sesha.sai@alstomgroup.com?subject=TEK-BYTES&cc=naveen-kumar.rajashekar@alstomgroup.com&body=Hi Sesha,%0AI would like to say a few words about your Tech magazine%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">
                                    <i class="bi bi-mailbox text-white me-2 display-8"></i>
                                    <font class="text-white">vnvoverflowadmin@alstomgroup.com</font>
                                </a>
                            </h4>
                            <h5 class="text-decoration-underline text-white" data-aos="flip-left" data-aos-duration="3000">
                                <i class="bi bi-table me-2 text-white"></i>
                                Forum for V&V by VNV
                            </h5>
                            <div class="mt-3 mb-3" special></div>
                            <div short_cuts data-aos="flip-right" data-aos-duration="3000"><h1>Start Your Journey Now</h1></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--------End banner--------->
