
<!--<div class="col text-center my-4">
    <span class="bg-primary text-white p-2  rounded">Search Results</span>
</div>
<div class="list-group mt-4">
    <div class="card bg-white mb-3 mx-5">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Query Title</h5>
                    <small>3 hours ago</small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="color: #000000;">Query description goes here...</h5>
                    <div>
                        <small>Category: Category 1</small>

                    </div>
                </div>
            </div>
        </a>
    </div>
    <hr />

</div>-->



<div class="col text-center my-4">
    <span class="bg-primary text-white p-2 rounded">Search Results</span>
</div>
<div class="list-group mt-4" id="searchResultsContainer">
    
</div>
<hr />


<!--<div class="list-group mt-4">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Query Title</h5>
            <small>3 hours ago</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Query description goes here...</p>
            <div>
                <small>Category: Category 1</small>
                <a class="btn btn-primary btn-sm mr-2" href="third.html">Answer</a>
                <a class="btn btn-secondary btn-sm" href="fourth.html">View Previous Answers</a>
            </div>
        </div>
    </a>
    <hr />
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Query Title</h5>
            <small>2 days ago</small>
        </div>
        <div class="d-flex w-100 justify-content-between">

            <p class="mb-1">Query description goes here...</p>
            <div>
                <small>Category: Category 2</small>
                <a href="#" class="btn btn-primary btn-sm mr-2">Answer</a>
                <a href="#" class="btn btn-secondary btn-sm">View Previous Answers</a>
            </div>
        </div>

    </a>
</div>-->
