<style>
    .aos-init[data-aos][data-aos].aos-animate {
        transform: unset;
    }
    /*Bootstrap Drop Downs click do not work with AOS hence this css is required*/
</style>
<nav id="header" data-aos="flip-left" class="navbar bg-transparent navbar-expand-lg justify-content-end" style="height:65px;">
    <div class="container-fluid">        
        <a href="~/" zora class="navbar-brand ms-4 ms-lg-0">            
            <span class="mb-0 caption">
                V<sub class="fs-6">&</sub>V Over <sup>flow</sup>
            </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a zora class="nav-link active nav-text" aria-current="page"  href="~/">Home</a>
            </li>
            <li class="nav-item">
                <a zora class="nav-link nav-text mx-2" href="~/Home/Raise">Raise</a>
            </li>
            <li class="nav-item">
                <a zora class="nav-link nav-text mx-2" href="~/Home/Search">
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a zora class="nav-link nav-text mx-2" href="~/Home/About">About</a>
            </li>
        </ul>
        <!--<form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->

    </div>
</nav>
