<div class="container py-5" data-aos="flip-right">
    <div class="container">
        <div class="row g-0">
            <div class="col" >
                <div class="h-100">
                    <div id="Training" class="carousel slide" data-bs-ride="carousel" data-bs-interval="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#Training" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#Training" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#Training" data-bs-slide-to="2"></button>
                        </div>
                        <div class="carousel-inner lbr">
                            <div class="carousel-item active lbr" data-bs-interval="500">
                                <img src="~/wwwroot/img/open.jpg" alt="Los Angeles" class="d-block w-100 lbr">
                            </div>
                            <div class="carousel-item lbr" data-bs-interval="500">
                                <img src="~/wwwroot/img/open-4.jpg" alt="Chicago" class="d-block w-100 lbr">
                            </div>
                            <div class="carousel-item lbr" data-bs-interval="500">
                                <img src="~/wwwroot/img/open-2.jpg" alt="New York" class="d-block w-100 lbr">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#Training" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#Training" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div class="bg-primary h-100 d-flex flex-column justify-content-center p-5 rbr">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Discover Yourself &nbsp;&nbsp;&nbsp; <i class="fa fa-lightbulb float-end"></i></p>
                    <h1 class="text-uppercase mb-4">Tranings</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0 text-light">Topic</h6>
                            <span class="text-uppercase text-dark">When</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Software Process</h6>
                            <span class="text-uppercase">&#9827;&#9828;&#9829;&#9830;&#9831;</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Quality</h6>
                            <span class="text-uppercase">&#9827;&#9828;&#9829;&#9830;&#9831;</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Kotlin Android</h6>
                            <span class="text-uppercase">2021</span>
                        </div>                       
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Safe and Secure Software Development</h6>
                            <span class="text-uppercase">&#9827;&#9828;&#9829;&#9830;&#9831;</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">ASP.NET/SPA/Micro Services</h6>
                            <span class="text-uppercase">TBD</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">To Enrol </h6>
                            <span class="text-uppercase text-dark">Contact: <a class="text-white" target="_blank" href="mailto:mailto:olivier.rolland@alstomgroup.com?subject=Training needed&body=Hi Olivier, I need the following training . . . ">Dr.Roland</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>