<div class="container-xxl py-5" data-aos-delay="500" data-aos="rotate-d">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="h-100">
                    <div id="WorkShop" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#WorkShop" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#WorkShop" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#WorkShop" data-bs-slide-to="2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="500">
                                <img src="~/wwwroot/img/open.jpg" alt="Los Angeles" class="d-block w-100">
                            </div>
                            <div class="carousel-item" data-bs-interval="500">
                                <img src="~/wwwroot/img/open-4.jpg" alt="Chicago" class="d-block w-100">
                            </div>
                            <div class="carousel-item" data-bs-interval="500">
                                <img src="~/wwwroot/img/open-2.jpg" alt="New York" class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#WorkShop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#WorkShop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-semi-dark h-100 d-flex flex-column justify-content-center p-5">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Tech. Evangelism : Unleash &nbsp;&nbsp;&nbsp;<i class="fa fa-sun"></i></p>
                    <h1 class="text-uppercase mb-4">Workshops</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0 text-light">Topic</h6>
                            <span class="text-uppercase text-dark">When</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Multi Threading</h6><font size="1">Generic</font>
                            <span class="text-uppercase">TBD</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">High Availability</h6> <font size="1">Windows</font>
                            <span class="text-uppercase">TBD</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">High Availability</h6> <font size="1">Containers - Linux</font>
                            <span class="text-uppercase">TBD</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">To participate </h6>
                            <span class="text-uppercase text-dark">Contact: <a target="_blank" href="mailto:sesha.sai@alstomgroup.com?subject=Training needed&body=Hi Sesha, I need the following training . . . ">Dr.Sesha</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>