<div id="peopleSay" class="container mt-6" data-aos="flip-up">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <p class="d-inline-block bg-semi-dark text-primary py-1 px-4">Testimonials</p>
            <h1 class="text-uppercase">What are they saying</h1>
        </div>
        <div id="carousel_PeopleSay" class="owl-carousel owl-theme">
            <div>
                <p class="test-item-text">
                    The stage is set to fight the battle of intellect.Let us combat with our brain power.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/aftab.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Aftab Dar</b><br />
                    Group Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    With so many initiatives/programs originating from Bangalore, <b class="text-white-50">Softwar</b> comes at the right time to showcase our talent and technical prowess.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/Srinath.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Srinath M</b><br />
                    Sr. Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Bangalore TC has crossed over a 1000 employees , <b class="text-white-50">Softwar</b> is an amazing platform to showcase our talents. Let us participate in this battle of the brains.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/saket.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">AGRAWAL Saket</b><br />
                    Product Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    It is good to have software competitions among us. Because that would help the employees to have a more collaborative and interactive environment.
                    Also, it helps to revise our knowledge base.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <a href="~/wwwroot/img/Testimonials/Ronish.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Ronish.jpg" class="test-item" style="height: 150px; width: 150px;" />
                    </a>
                    <b class="text-white-50">Simon Ronish</b><br />
                    V&V Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    I am glad that we now have a forum to showcase our strengths. I am sure that though <b class="text-white-50">Softwar</b> we will have exciting contest where teams will present their amazing ideas from which Teams can be mutually benefited.
                    A wonderful initiative, Keen to see touch Competition.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/Radha.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Radha Krishnan</b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b>, a software contest is the first of its kind in TC. Its a great platform to demonstrate our coding and problem solving skills. Its an oppotunity share and learn from the experts in the community
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/Bharti.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Bharathi Reddy</b><br />
                    <b>Softwar</b>Development Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Software Safety is also a primary concern in our industry, and <b class="text-white-50 font-italic">'Softwar'</b> is encouraging participation of functional safety also in it best to spread awareness among designers and develop skills, Best of luck . . .

                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/prabhu.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">PRABHU Chaitanya</b><br />
                    Safety Assurance Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a wonderful initiative by TC Bangalore, if you love Coding then this event is for you. We look forward to many such events in the future.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <a href="~/wwwroot/img/Testimonials/Nithasha.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Nithasha.jpg" class="test-item" style="height: 75px; width: 75px;" />
                    </a>
                    <b class="text-white-50">Nithasha M</b><br />
                    Product Quality & Safety leader
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    If you are passionate about programming ,then <b class="text-white-50">Softwar</b> is the perfect opportunity to showcase your skills !!
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <a href="~/wwwroot/img/Testimonials/anupama.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/anupama.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">Anupama Roy</b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> good forum for people to show case the impactful
                    out of box work or Idea they have and worked and get recognized!.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/Sudhir.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Sudhir K</b><br />
                    V&V manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Our signalling market is very competitive and everyone wants simple, innovative solutions that are easy to use and the biggest challenge we are currently facing in terms of Performance Optimization and Improvement in HMI's screens (Human Machine Interface) and its usage.
                    So, <b class="text-white-50">Softwar</b>  is the perfect platform to showcase the talent of our team, having diversified experience and a multi-talented resource pool.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/Shibu.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Shibu Mathew</b><br />
                    Software Development Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a welcome event for TC Bangalore. Time for us show our presence globally,
                    let us compete hard and make this event a success.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <a href="~/wwwroot/img/Testimonials/Vissa.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Vissa.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    </a>
                    <b class="text-white-50">Ramesh Vissa</b><br />
                    Group Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    It's true that iron melts due to heat. But what's important is that it's melted to create something better.
                    <b class="text-white-50">Softwar</b> is the perfect furnace that creates a better you.
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <a href="~/wwwroot/img/Testimonials/Sonia.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Sonia.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">Sonia Tiwari</b><br />
                    Group Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Software Contest like <b class="text-white-50">Softwar</b> are useful as it helps us in Starting with something simple and small, then expand over time.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Raman_11.png" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Raman_1.jpg" class="test-item" style="height: 150px; width: 150px;" />
                    </a>
                    <b class="text-white-50">Raman Deep Singh</b><br />
                    V&V Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Software Contest like <b class="text-white-50">Softwar</b> are useful as it helps us in Starting with something simple and small, then expand over time.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Raman_2.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Raman_2.jpg" class="test-item" style="height: 150px; width: 150px;" />
                    </a>
                    <b class="text-white-50"></b><br />
                    V&V Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    The current challenge of any software industry is making an architecture/design that is maintainable over time
                    Software Contest like <b class="text-white-50">Softwar</b> are useful as it helps propoagte such designs accross the organization helping in reusability.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/Rama.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Rama</b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Software Contests like <b class="text-white-50">Softwar</b> is a good platform for passionate techies to upskill, share, brainstorm and  expose themselves
                    to trending technologies and solutions to transform Alstom to Digital one
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/Hemalata.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">
                        M-N Hemalatha
                    </b><br />
                    HMI Metier Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    We do so many amazing & cutting edge things with edge computing  in our program, where by we enable data to the engineers to perform lot of analytics, which intern helps the end user to take right decision at the right time.
                    Hence, this <b class="text-white-50">Softwar</b>  is a wonderful platform to showcase about the product, modern technologies and ourselves.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/veera_1.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">
                        SANGOLLI Veerasangappa
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> contest is the missing matchstick that ignite fire inside us to compete and improve ..
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/Rakesh.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">
                        Rakesh
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b>, a software contest like this comes at the right time. We are in the cusp of modernizing our software.
                    Let us participate and take TC Bangalore to the next level.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/Sameta.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">
                        Pavan SAMMETA
                    </b><br />
                    Product Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Participating in <b class="text-white-50">Softwar</b> is nice sound of relief, a nice break from your dialy work.
                    Such competitions keeps us on our toes and lets us see what is happening outside of our program
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Raparla_1.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Raparla.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    </a>
                    <b class="text-white-50">
                        Pavan Raparla
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a great platform to show case your technology ideas/achievements. I am seeing that this platform along with
                    <b class="text-primary">TEK Bytes</b> is going to become one stop shop for all the Technical details soon. Let us contribute generously and grow this platform in
                    each other's interest
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Girish.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Girish.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">
                        Girish Ganjendran
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is the great opportunity for us to learn problem solving skills,
                    helps in developing the never-give-up attitude and also encourages to make us a better coder
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Deepak.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Deepak_small.jpg" class="test-item" style="height: 150px; width: 150px;" />
                    </a>
                    <b class="text-white-50">
                        Deepak SIDDAPPA
                    </b><br />
                    Software Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Competitions brings out the best in you. <b class="text-white-50">Softwar</b> is great opportunity to exhibit their software expertise
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Himani.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Himani.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">
                        Himani Pathak
                    </b><br />
                    V&V Disgner
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> , a great initiative to have a platform for all the passionate and enthusiastic coders.
                    Let's fight each other to grow together!!!
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Rahulp.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Rahulp_small.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">
                        Rahul P
                    </b><br />
                    Software Disgner
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Initiatives like <b class="text-white-50">Softwar</b> keeps us motivated and provide us a wonderful platform to put our local initiatives up
                    for competition and recognition among our peer. It allows us to pause and reflect on the colors
                    our day-to-day hustle with software design,
                    architecture and decision-making sprinkle on the grand canvas of Alstom business!
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Saigopal.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Saigopal_small.jpg" class="test-item" style="height: 100px; width: 100px;" />
                    </a>
                    <b class="text-white-50">
                        THIRUVOTH Saigopal
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> to weed out weaknesses and breach the boundaries, let’s begin the quest…
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Yogish_1.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Yogish_1.jpg" class="test-item" style="height: 75px; width: 75px;" />
                    </a>
                    <b class="text-white-50">
                        V Yogish
                    </b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> will be a great platform to pitch our software skills and improve it in a very good way to resolve/enhance real
                    time issues and improve our competency in terms of technological upgrades.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/maya.jpg" class="test-item" style="height: 50px; width:50px;" />
                    <b class="text-white-50">
                        Maya V-S
                    </b><br />
                    Software Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a good opportunity to explore new ideas and thoughts and which provides
                    good platform to interact with peer techincal people in the organization..
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Srikanth.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Srikanth.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Srikanth
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Aloha! A big Applause and Thank you for organizing <b class="text-white-50">Softwar</b>.
                    <b class="text-white-50">Softwar</b> aims to inpire, motivate and engage Alstomers. It is the impulse sleepy souls need.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Shivangee.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Shivangee_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Shivangee Singh
                    </b><br />
                    Software Engineer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a competitive space where software is judged on software scale.
                    This is an excellent initiative that keeps our hungry brains to keep pushing the innovation horizons.
                    What can be a better motivator (other than a hike), awards! , so get your software submission/s in.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Rajesh.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Rajesh.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Rajesh Rajendran
                    </b><br />
                    Software Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a great initiative. A great place to get answers from all users and experts from the platform and also for sharing gained knowledge.
                    For now it seems to be the only place where you get our domain related solutions!!.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Guru.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Guru_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        PAPEGOWDA Gurudev
                    </b><br />
                    Program V&V Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Thinking is easy, acting is difficult, and to put one's thoughts into action is the most difficult thing in the world
                    <b class="text-white-50">Softwar</b> is the perfect platform to convert one's thoughts into action. Bonne Chance !
                </p>
                <p style="margin-top:-75px; margin-left:50px;">
                    <img src="~/wwwroot/img/Testimonials/lakshmi.jpg" class="test-item" style="height: 50px; width: 50px;" />
                    <b class="text-white-50">Lakshmi Seetha</b><br />
                    Program V&V Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is perfect software contest to show off your innovative and technical skills
                    and prove your worth without spilling any actual blood.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/onkar.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/onkar.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Onkar chidanand
                    </b><br />
                    Graduate Engineer Trainee
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> provides a great way for techies to apply
                    what they know in a fun context and improve their analytical and problem-solving skills.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Ganesh.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Ganesh.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        S Ganesh
                    </b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a great platform to showcase our skills, ideas, and solutions to get recognition globally.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/nanabala.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/nanabala.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Ramaiah NANABALA
                    </b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> has given us the platform to demonstrate and brainstorm new ideas.
                    It will help us compete and develop software solutions that will help each of us to grow together!!
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/aditi.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/aditi_small.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        RAUT Aditi sunil
                    </b><br />
                    Graduate Engineer Trainee
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is indeed a progressive and helpful way to interact and learn from others
                    and share our own ideas! This spreads knowledge war and helps in skill development
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Alan.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Alan_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Alan joy
                    </b><br />
                    Graduate Engineer Trainee
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is great platform to showcase the talent for enthusiastic and talented techies.
                    It provide opportunities to explore towards the latest technologies and upskill further.
                    All the Best to our Warriors!!”
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/natraj.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/natraj.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Natraj D
                    </b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a great platform to bring all Technical Enthusiasts within Alstom under one roof.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/rahul.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/rahul_small.jpg" class="test-item" style="height: 100px; width:100px;" />
                    </a>
                    <b class="text-white-50">
                        Rahul D
                    </b><br />
                    Software designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a great contest for all the technical aspirants.
                    <b class="text-primary">TEK Bytes</b>  platform gives an excellent opportunity to learn and share knowledge on various technical aspects
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/sathya.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/sathya.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        RAGOTHAMAN Sathyanarayanan
                    </b><br />
                    Software Architect
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> and <b class="text-primary">TEK Bytes</b> are very good initiatives to gain full access
                    to our development teams and submit new updates. The real magic is that developers will get exposed to advance technologies
                    which helps in, what the product will do before you design how the product will do it
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/alam.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/alam.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        ALAM Venkata Pavan
                    </b><br />
                    V&V Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b>  is not only for competing, but also it's an opportunity to know, grow and learn from
                    various technological concepts. This will help us to improve our skills and to showcase the true talents. Also,
                    <b class="text-primary">TEK Bytes</b> provides an amazing platform to share our innovative ideas.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/harsha.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/harsha.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        N Harsha
                    </b><br />
                    Software Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is a wonderful and exciting initiative by TC Bangalore.
                    If anybody who is passionate about coding and wants to enhance there skill this platform is for them. Softwar is a wonderful opportunity to showcase your skills!.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <img src="~/wwwroot/img/Testimonials/richa.jpg" class="test-item" style="height: 50px; width:50px;" />
                    <b class="text-white-50">
                        Richa Sharma
                    </b><br />
                    Software Designer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b>, what a wonderful opportunity for all those who want to learn and enhance themselves
                    in the field of coding and developing Skills. Its a bundle of Learning Skills.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Nageshwar.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Nageshwar.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Nageshwar Singh Parmar
                    </b><br />
                    Post Graduate Engineer Trainee
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-white-50">Softwar</b> is very good initiative to have this kind of software competition between
                    us where we can contribute more towards our work, by using this platform we can bring an idea to improve our
                    task and come up with more robust, reliable, stable and utilized projects.
                    One can be motivate by a cheer up or reward. But both methods can be temporary sometime.
                    The only lasting thing is self-motivation which comes when you become a part of a competition, and this one can be journey for that.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Deep.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Deep_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Deep Narayan Gupta
                    </b><br />
                    Software Engineer
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    The most awaited event of the year “<b class="text-white-50">Softwar</b>” has arrived, it is the perfect opportunity to learn,
                    collaborate and showcase Bangalore TC’s capabilities, looking forward for wonderful event.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Anil.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Anil.jpg" class="test-item" style="height: 75px; width:75px;" />
                    </a>
                    <b class="text-white-50">
                        Anil Kumar
                    </b><br />
                    Program Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Competitions like <b class="text-white-50">Softwar</b> is always a good thing, it forces us to do our best and
                    helps us bring out the potential and the caliber of the employees while competing amongst ourselves.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/raj.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/raj.jpg" class="test-item" style="height: 100px; width:100px;" />
                    </a>
                    <b class="text-white-50">
                        RAJ Abhinav
                    </b><br />
                    Post Graduate Engineer Trainee
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    <b class="text-primary">TEK Bytes</b>  is a great  initiative  by  Technology Centre,India  Team.
                    <b class="text-white-50">Softwar</b> concept seems to be unique and interesting and it shows that
                    Innovations is in  our DNA  and it’s not that , we Innovate  new things  only during  competition time period.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Namami.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Namami_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Namami Das
                    </b><br />
                    Technical Training Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">
                    Initiatives like <b class="text-primary">TEK Bytes</b> & <b class="text-white-50">Softwar</b> are efforts at seeing things differently
                    and discovering new ways of showcasing our talents, considering our Organization’s goal,
                    a goal of greener mobility, a goal of well-being and a goal of Inclusiveness.
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Namami.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Namami_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Namami Das
                    </b><br />
                    Technical Training Manager
                </p>
            </div>
            <div>
                <p class="test-item-text">                    
                    Participating in <b class="text-white-50">Softwar</b> means, we are already prepared for upcoming <b>I Nove You</b>  Competition.
                    It clearly demonstrates our “<b>AIR</b>” Values.I  strongly believe  and vouch  for  grand promotion of <b class="text-primary">TEK Bytes</b>
                    and we led example for other regions RC/DC Engineering sites. Kudos to our Team!
                </p>
                <p style="margin-top:-75px; margin-left:75px;">
                    <a href="~/wwwroot/img/Testimonials/Namami.jpg" target="_blank">
                        <img src="~/wwwroot/img/Testimonials/Namami_small.jpg" class="test-item" style="height: 150px; width:150px;" />
                    </a>
                    <b class="text-white-50">
                        Namami Das
                    </b><br />
                    Technical Training Manager
                </p>
            </div>
        </div>
    </div>
</div><!-- End Testimonials Section -->
